<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>GetBooked News Details</title>
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet" media="screen" />
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/js/bootstrap.min.js"
	rel="stylesheet" media="screen" />
<script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"></script>

<!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
<link rel="stylesheet"
	href="https://formden.com/static/cdn/bootstrap-iso.css" />

<link rel="stylesheet" type="text/css" href="/css/default.css"
	th:href="@{/css/default.css}" />
<link rel="stylesheet" type="text/css" href="/css/profile.css"
	th:href="@{/css/profile.css}" />
	<link rel="stylesheet" type="text/css" href="/css/comments.css"
	th:href="@{/css/comments.css}" />
	<link rel="stylesheet" type="text/css" href="/css/vijest.css"
	th:href="@{/css/vijest.css}" />
<!-- For navigation dropdown -->
<script
	src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/index">GetBooked</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a th:href="@{/index}">Home</a></li>
					<li><a th:href="@{/profile}">Profile</a></li>
					<li sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown"><a
						class="dropdown-toggle" data-toggle="dropdown" href="#">Administracija<span
							class="caret"></span></a>
						<ul class="dropdown-menu">
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/vijestForm}">Dodaj Vijest</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/addAutor}">Dodaj Autora</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/addKnjiga}">Dodaj Knjigu</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/openLibraryForm}">Dodaj OpenLibrary Knjigu</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/addPrimjerak}">Dodaj Primjerak</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/listaAktivnosti}">Lista Aktivnosti</a></li>
						</ul></li>
					<li><a th:href="@{/listaKnjiga}">Lista Knjiga</a></li>
					<li><a th:href="@{/listaAutora}">Lista Autora</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li><a th:href="@{/profile}" th:inline="text"><span
							class="glyphicon glyphicon-user"></span>
							[[${#httpServletRequest.remoteUser}]]</a></li>
					<li><a th:href="@{/logout}"><span
							class="glyphicon glyphicon-log-out"></span> Odjava</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	<header class="page-header">
		<h1 th:inline="text" th:text="${vijest.naslov}" class="page-title"></h1>
		<small> <i class="fa fa-clock-o"></i> Objavio: <time
				th:inline="text"
				th:text="${vijest.imePrezime + ', ' + vijest.datumObjave}"></time></small>
	</header>
	<div class="col-md-offset-4 col-md-4">
		<div class="row">
			<div class="comment-block-description">
				<h2 th:text="${vijest.podNaslov}"></h2>
			</div>
			<br />
			<div class="comment-block-description">
				<textarea th:text="${vijest.tekst}" disabled="true"
					style="width: 100%;"></textarea>
			</div>
		</div>
	</div>
	<div class="col-md-offset-3 col-md-6">
		<br /> <br />
		<h1>Komentiraj:</h1>
		<br />
		<div class="col-md-12">
			<div class="alert alert-success" role="alert" th:text="${success}"
				th:unless="${success == null}"></div>
		</div>
		<div class="col-md-12">
			<div class="alert alert-warning" role="alert" th:text="${error}"
				th:unless="${error == null}"></div>
		</div>
		<form class="form-horizontal" id="formaComment" role="form"
			th:action="@{/addKomentarToVijest}" th:object="${komentar}"
			method="post">
			<div class="form-group">
				<div class="form-group">
					<div class="col-sm-12">
						<input type="hidden" th:value="${vijestId}" class="form-control"
							name="vijestId" id="vijestId" /> <input type="text"
							class="form-control" name="naslov" id="naslov"
							th:field="*{naslov}" placeholder="Unesite Naslov" />
						<p th:if="${#fields.hasErrors('naslov')}" th:errors="*{naslov}"
							class="error"></p>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
						<textarea class="form-control" rows="5" name="tekst" id="tekst"
							th:field="*{tekst}" placeholder="Unesite komentar"
							form="formaComment"></textarea>
						<p th:if="${#fields.hasErrors('tekst')}" th:errors="*{tekst}"
							class="error"></p>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
						<button type="submit" class="btn btn-primary pull-right">Potvrdi</button>
					</div>
				</div>
			</div>
		</form>
	</div>

	<th:block th:each="komentar : ${komentari}">
		<div class="col-md-offset-3 col-md-6">
			<hr />
			<div class="comment-block">
				<div class="row">
					<div class="col-sm-3">
						<img src="img/avatar.png"
							class="userImage img-circle img-responsive" style="height: 50px;"/>
						<div class="comment-block-name">
							<a th:href="@{profileDetalji(id=${komentar.korisnik.id})}"
								th:text="${komentar.korisnik.ime + ' ' + komentar.korisnik.prezime}"></a>
						</div>
						<div class="comment-block-date">
							<p th:text="${komentar.datumObjave}"></p>
						</div>
					</div>
					<div class="col-sm-9">
						<div class="comment-block-title">
							<p th:text="${komentar.naslov}"></p>
						</div>
						<div class="comment-block-description">
							<p th:text="${komentar.tekst}"></p>
						</div>
					</div>
				</div>
				<hr />
			</div>
		</div>
	</th:block>

	<script src='/js/autosize.js'></script>
	<script>
		autosize(document.querySelectorAll('textarea'));
	</script>
</body>
</html>