<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>GetBooked Autor Details</title>
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet" media="screen" />
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/js/bootstrap.min.js"
	rel="stylesheet" media="screen" />
<script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"></script>

<!-- Bootstrap Date-Picker Plugin -->
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />

<!-- For navigation dropdown -->
<script
	src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/default.css"
	th:href="@{/css/default.css}" />
<link rel="stylesheet" type="text/css" href="/css/profile.css"
	th:href="@{/css/profile.css}" />
<link rel="stylesheet" type="text/css" href="/css/comments.css"
	th:href="@{/css/comments.css}" />
<link rel="stylesheet" type="text/css" href="/css/autor.css"
	th:href="@{/css/autor.css}" />
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/index">GetBooked</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a th:href="@{/index}">Home</a></li>
					<li><a th:href="@{/profile}">Profile</a></li>
					<li sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown"><a
						class="dropdown-toggle" data-toggle="dropdown" href="#">Administracija<span
							class="caret"></span></a>
						<ul class="dropdown-menu">
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/vijestForm}">Dodaj Vijest</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/addAutor}">Dodaj Autora</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/addKnjiga}">Dodaj Knjigu</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/openLibraryForm}">Dodaj OpenLibrary Knjigu</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/addPrimjerak}">Dodaj Primjerak</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/listaAktivnosti}">Lista Aktivnosti</a></li>
						</ul></li>
					<li><a th:href="@{/listaKnjiga}">Lista Knjiga</a></li>
					<li><a th:href="@{/listaAutora}">Lista Autora</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li><a th:href="@{/profile}" th:inline="text"><span
							class="glyphicon glyphicon-user"></span>
							[[${#httpServletRequest.remoteUser}]]</a></li>
					<li><a th:href="@{/logout}"><span
							class="glyphicon glyphicon-log-out"></span> Odjava</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<div class="resume">
		<header class="page-header">
			<h1 th:inline="text" th:text="${'Autor: ' + autor.imePrezime}"
				class="page-title"></h1>
		</header>

		<div
			class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
			<div class="panel panel-default">
				<div class="panel-heading resume-heading">
					<div class="row">
						<div class="col-lg-12">
							<form class="form-inline" id="forma" role="form"
								th:action="@{/autorDetalji}" th:object="${autor}" method="post">
								<div class="col-xs-12 col-sm-4">
									<figure>
										<img class="image img-circle img-responsive" alt=""
											src="img/avatar.png" />
									</figure>
								</div>

								<div class="col-xs-12 col-sm-8">
									<ul class="list-group">
										<li class="list-group-item"><label for="imePrezime">Ime
												i prezime:</label><input type="hidden" th:value="${autorId}"
											class="form-control" name="autorId" id="autorId" /><input
											type="text" class="form-control" name="imePrezime"
											id="imePrezime" th:value="${imePrezime}" disabled="true" /></li>
										<li class="list-group-item"><label for="datumRodenja">Datum
												rođenja:</label><input type="text" class="form-control"
											name="datumRodenja" id="datumRodenja"
											th:value="${datumRodenja}" disabled="true" /></li>
										<li class="list-group-item"><label for="datumSmrti">Datum
												smrti:</label><input type="text" class="form-control"
											name="datumSmrti" id="datumSmrti" th:value="${datumSmrti}"
											disabled="true" /></li>
										<li class="list-group-item"><label for="openLibraryKey">Open
												Library Key:</label><input type="text" class="form-control"
											name="openLibraryKey" id="openLibraryKey"
											th:value="${openLibraryKey}" disabled="true" /></li>
										<li class="list-group-item"><label for="knjige">Knjige:</label><a
											type="text" class="form-control knjige"
											th:each="knjiga : ${knjige}"
											th:text="${knjiga.naziv + ', ' + knjiga.godinaIzdavanja + '.'}"
											th:value="${knjiga.id}"
											th:href="@{knjigaDetalji(id=${knjiga.id})}"></a></li>
										<li class="list-group-item"><label for="opis">Napomena:</label>
										<textarea class="form-control" rows="5" cols="100"
												name="napomena" id="napomena" th:field="*{napomena}"
												form="forma" disabled="true"></textarea></li>
									</ul>
									<div sec:authorize="hasRole('ROLE_ADMIN')">
										<input class="btn btn-info col-sm-offset-1 col-sm-3"
											type="text" name="akcija" value="Promijeni"
											th:onclick="'javascript:editAutor(\'' + ${autorId} + '\')'" />
										<input class="btn btn-info col-sm-offset-1 col-sm-3"
											type="text" name="akcija" value="Dodaj knjigu"
											th:onclick="'javascript:dodajKnjiguAutoru(\'' + ${autorId} + '\')'" />
										<input class="btn btn-info col-sm-offset-1 col-sm-3"
											type="text" name="akcija" value="Obriši knjigu"
											th:onclick="'javascript:obrisiKnjiguAutora(\'' + ${autorId} + '\')'" />
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="alert alert-success" role="alert" th:text="${success}"
				th:unless="${success == null}"></div>
		</div>
	</div>

	<div class="row">
		<th:block th:each="knjiga : ${knjige}">
			<div class="col-md-offset-2 col-md-8">
				<hr />
				<div class="comment-block">
					<div class="row">
						<div class="col-sm-3">
							<a th:href="@{knjigaDetalji(id=${knjiga.id})}"><img
								src="img/book.png" class="bookImage img-responsive" /></a>
							<div class="comment-block-name">
								<a th:href="@{knjigaDetalji(id=${knjiga.id})}"
									th:text="${knjiga.naziv}"></a>
							</div>
						</div>
						<div class="col-sm-9">
							<div class="form-group">
								<label class="control-label col-sm-2" id="poravnanje-lijevo"
									for="naziv">Naziv:</label>
								<div class="col-sm-10">
									<p id="naziv" th:text="${knjiga.naziv}"></p>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-2" id="poravnanje-lijevo"
									for="godinaIzdavanja">Godina izdavanja:</label>
								<div class="col-sm-10">
									<p id="godinaIzdavanja" th:text="${knjiga.godinaIzdavanja}"></p>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-2" id="poravnanje-lijevo"
									for="autori">Autor:</label>
								<div class="col-sm-10">
									<p id="autori" th:text="${imePrezime}"></p>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-2" id="poravnanje-lijevo"
									for="zanrovi">Žanrovi:</label>
								<div class="col-sm-10">
									<span id="zanrovi" th:each="zanr : ${knjiga.zanrovi}"
										th:text="${zanr.zanr + ' '}" th:value="${zanr.zanr}"></span>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-2" id="poravnanje-lijevo"
									for="opis"><br /></label>
								<div class="col-sm-10">
									<p id="opis" th:text="${knjiga.opis}"></p>
								</div>
							</div>
						</div>
					</div>
					<hr />
				</div>
			</div>
		</th:block>
	</div>

	<script type="text/javascript" src="/js/listaAutora_funkcija.js"></script>
</body>
</html>