.comment-block{
	background-color:#FAFAFA;
	border:1px solid #EFEFEF;
	padding:15px;
	border-radius:3px;
	margin-bottom:15px;
}
.comment-block-name{
	font-size:12px;
	margin:10px 0;
}
.comment-block-date{
	font-size:12px;
}
.comment-block-title{
	font-size:15px;
	font-weight:700;
	margin-bottom:10px;
}
.comment-block-description{
	font-size:13px;
}

.userImage{
	height: 50px;
}
