.heading-forma {
	margin-top: 70px;
	margin-bottom: 30px;
	font-size: 22px;
}

#poravnanje-lijevo {
	text-align: left;
}

.error {
	color: #ff0000;
	margin-top: 5px;
	margin-left: 5px;
}

.information {
	color: green;
	margin-left: 5px;
}

.goBack{
	height: 20px;
}

textarea:disabled{
	border: 0 !important;
	  box-shadow: none !important;
	  background-color: white !important;
	cursor: default !important;
}