/* uses font awesome for social icons */
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

.page-header{
  text-align: center;    
}

.resume .list-group-item:first-child, .resume .list-group-item:last-child{
  border-radius:0;
}

/*makes an anchor inactive(not clickable)*/
.inactive-link {
   pointer-events: none;
   cursor: default;
}

.resume-heading .social-btns{
  margin-top:15px;
}
.resume-heading .social-btns i.fa{
  margin-left:-5px;
}

.image{
	height: 225px;
}

@media (max-width: 992px) {
  .resume-heading .social-btn-holder{
    padding:5px;
  }
}

input[type="text"]:disabled{
	border: 0 !important;
	  box-shadow: none !important;
	  background-color: white !important;
	  cursor: default !important;
	}
.autori{
	border: 0 !important;
	  box-shadow: none !important;
	  background-color: white !important;
	}

textarea:disabled{
	border: 0 !important;
	  box-shadow: none !important;
	  background-color: white !important;
	cursor: default !important;
}