<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>GetBooked Add OpenLibrary Book</title>
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet" media="screen" />
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/js/bootstrap.min.js"
	rel="stylesheet" media="screen" />
<script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"></script>

<!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
<link rel="stylesheet"
	href="https://formden.com/static/cdn/bootstrap-iso.css" />

<!-- Bootstrap Date-Picker Plugin -->
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />

<!-- For navigation dropdown -->
<script
	src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/default.css"
	th:href="@{/css/default.css}" />
<link rel="stylesheet" href="/css/multiple-select.css" />
</head>
<body>
	<script> 
$(document).ready(function(){
    var date_input=$('input[name="godinaIzdavanja"]');
    var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
    var options={
      format: 'yyyy',
      viewMode: "years", 
      minViewMode: "years",
      container: container,
      todayHighlight: true,
      autoclose: true,
      orientation: "bottom right",
      todayHighlight: true,
      endDate: '+1d',
    };
    date_input.datepicker(options);
  })
</script>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/index">GetBooked</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a th:href="@{/index}">Home</a></li>
					<li><a th:href="@{/profile}">Profile</a></li>
					<li sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown"><a
						class="dropdown-toggle" data-toggle="dropdown" href="#">Administracija<span
							class="caret"></span></a>
						<ul class="dropdown-menu">
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/vijestForm}">Dodaj Vijest</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/addAutor}">Dodaj Autora</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/addKnjiga}">Dodaj Knjigu</a></li>
							<li class="active" sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/openLibraryForm}">Dodaj OpenLibrary Knjigu</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/addPrimjerak}">Dodaj Primjerak</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/listaAktivnosti}">Lista Aktivnosti</a></li>
						</ul></li>
					<li><a th:href="@{/listaKnjiga}">Lista Knjiga</a></li>
					<li><a th:href="@{/listaAutora}">Lista Autora</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li><a th:href="@{/profile}" th:inline="text"><span
							class="glyphicon glyphicon-user"></span>
							[[${#httpServletRequest.remoteUser}]]</a></li>
					<li><a th:href="@{/logout}"><span
							class="glyphicon glyphicon-log-out"></span> Odjava</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<div class="col-md-offset-2 col-md-8">
		<h1>Dodaj OpenLibrary Knjigu</h1>
		<br />
		<form class="form-horizontal" role="form"
			th:action="@{/addOpenLibraryKnjiga}" th:object="${knjiga}"
			method="post" id="olKnjigaForm">
			<div class="form-group">
				<label class="control-label col-sm-5" id="poravnanje-lijevo"
					for="naziv">*Naziv:</label>
				<div class="col-sm-7">
					<input type="text" class="form-control" name="naziv" id="naziv"
						th:field="*{naziv}" placeholder="Unesite naziv" required="true" />
					<p th:if="${#fields.hasErrors('naziv')}" th:errors="*{naziv}"
						class="error"></p>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-5" id="poravnanje-lijevo"
					for="iSBN">*ISBN:</label>
				<div class="col-sm-7">
					<input type="text" class="form-control" name="iSBN" id="iSBN"
						th:field="*{iSBN}" placeholder="Unesite ISBN" required="true" />
					<p th:if="${#fields.hasErrors('iSBN')}" th:errors="*{iSBN}"
						class="error"></p>
				</div>
			</div>

			<!-- <div class="form-group">
				<label class="control-label col-sm-5" id="poravnanje-lijevo"
					for="olautor">*Autor:</label>
				<div class="col-sm-7">
					<input type="text" class="form-control" name="olautor" id="olautor"
						th:field="*{olautor}" placeholder="Unesite autora" required="true" />
					<p th:if="${#fields.hasErrors('olautor')}" th:errors="*{olautor}"
						class="error"></p>
				</div>
			</div> -->

			<div class="form-group">
				<label class="control-label col-sm-5" id="poravnanje-lijevo"
					for="olautor">Autor:</label>
				<div class="col-sm-7">
					<input type="text" class="form-control" name="olautor" id="olautor"
						th:value="${olautor}" placeholder="Unesite autora" />
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-5" id="poravnanje-lijevo"
					for="autori">Autori:</label>
				<div class="col-sm-7">
					<select id="autori" class="multi-select form-control"
						name="noviAutori" multiple="multiple">
						<option th:each="autor : ${autoriChecked}" th:selected="${autor}"
							th:value="${autor.id}" th:text="${autor.imePrezime}"></option>
						<option th:each="autor : ${autori}" th:value="${autor.id}"
							th:text="${autor.imePrezime}"></option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-5" id="poravnanje-lijevo"
					for="izdavac">Izdavac:</label>
				<div class="col-sm-7">
					<input type="text" class="form-control" name="izdavac" id="izdavac"
						th:field="*{izdavac}" placeholder="Unesite izdavaca" />
					<p th:if="${#fields.hasErrors('izdavac')}" th:errors="*{izdavac}"
						class="error"></p>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-5" id="poravnanje-lijevo"
					for="jezik">Jezik:</label>
				<div class="col-sm-7">
					<input type="text" class="form-control" name="jezik" id="jezik"
						th:field="*{jezik}" placeholder="Unesite jezik" />
					<p th:if="${#fields.hasErrors('jezik')}" th:errors="*{jezik}"
						class="error"></p>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-5" id="poravnanje-lijevo"
					for="openLibraryKey">OpenLibrary Key:</label>
				<div class="col-sm-7">
					<input type="text" class="form-control" name="openLibraryKey"
						id="openLibraryKey" th:field="*{openLibraryKey}"
						placeholder="Unesite OpenLibrary Key" />
					<p th:if="${#fields.hasErrors('openLibraryKey')}"
						th:errors="*{openLibraryKey}" class="error"></p>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-5" id="poravnanje-lijevo"
					for="godinaIzdavanja">*Godina izdavanja:</label>
				<div class="col-sm-7">
					<input class="form-control" th:value="${godinaIzdavanja}"
						th:field="*{godinaIzdavanja}" id="godinaIzdavanja"
						name="godinaIzdavanja" placeholder="YYYY" type="text"
						required="true" />
					<p th:if="${#fields.hasErrors('godinaIzdavanja')}"
						th:errors="*{godinaIzdavanja}" class="error"></p>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-5" id="poravnanje-lijevo"
					for="materijalniOpis">Materijalni opis:</label>
				<div class="col-sm-7">
					<input type="text" class="form-control" name="materijalniOpis"
						id="materijalniOpis" th:field="*{materijalniOpis}"
						placeholder="Unesite materijalni opis" />
					<p th:if="${#fields.hasErrors('materijalniOpis')}"
						th:errors="*{materijalniOpis}" class="error"></p>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-5" id="poravnanje-lijevo"
					for="noviZanrovi">Žanrovi:</label>
				<div class="col-sm-7">
					<select id="zanrovi" class="form-control multi-select"
						name="noviZanrovi" multiple="multiple">
						<option th:each="zanr : ${zanrovi}" th:value="${zanr.id}"
							th:text="${zanr.zanr}"></option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-5" id="poravnanje-lijevo"
					for="opis">Opis:</label>
				<div class="col-sm-7">
					<textarea class="form-control" rows="5" name="opis" id="opis"
						th:field="*{opis}" placeholder="Unesite opis" form="knjigaForm"></textarea>
					<p th:if="${#fields.hasErrors('opis')}" th:errors="*{opis}"
						class="error"></p>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-12">
					<button type="submit" class="btn btn-default" name="odustani">Odustani</button>
					<button type="submit" class="btn btn-primary pull-right">Dodaj
						Knjigu</button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-info" role="alert">Polja označena sa
						" * " su obavezna!</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-info" role="alert">Barem jedno od polja "Autor" ili "Autori" mora biti ispunjeno!</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-success" role="alert" th:text="${success}"
						th:unless="${success == null}"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-warning" role="alert" th:text="${error}"
						th:unless="${error == null}"></div>
				</div>
			</div>
		</form>
	</div>
	<script src="js/multiple-select.js"></script>
	<script>
	    $(function() {
	        $('.multi-select').change(function() {
	            console.log($(this).val());
	        }).multipleSelect({
	            width: '100%'
	        });
	    });
	</script>
</body>
</html>