<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>GetBooked Book Details</title>
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet" media="screen" />
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/js/bootstrap.min.js"
	rel="stylesheet" media="screen" />
<script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"></script>

<!-- Bootstrap Date-Picker Plugin -->
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />

<!-- For navigation dropdown -->
<script
	src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />

<!-- For rating stars -->
<!-- Icons -->
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
<style>
@font-face {
	font-family: 'Glyphicons Halflings';
	src:
		url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/fonts/glyphicons-halflings-regular.eot');
	src:
		url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/fonts/glyphicons-halflings-regular.eot?#iefix')
		format('embedded-opentype'),
		url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/fonts/glyphicons-halflings-regular.woff')
		format('woff'),
		url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/fonts/glyphicons-halflings-regular.ttf')
		format('truetype'),
		url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular')
		format('svg');
}
</style>
<link rel="stylesheet" href="/css/fontawesome-stars.css" />
<link rel="stylesheet" href="/css/fontawesome-stars-o.css" />


<link rel="stylesheet" type="text/css" href="/css/default.css"
	th:href="@{/css/default.css}" />
<link rel="stylesheet" type="text/css" href="/css/knjiga.css"
	th:href="@{/css/knjiga.css}" />
<link rel="stylesheet" type="text/css" href="/css/comments.css"
	th:href="@{/css/comments.css}" />
</head>
<body>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="jquery.barrating.min.js"></script>
	<script type="text/javascript">
   $(function() {
      $('#star-select').barrating({
        theme: 'fontawesome-stars'
      });
   });
</script>

	<script th:inline="javascript">
/*<![CDATA[*/
   $(function() {
      $('#example-fontawesome-o').barrating({
    	  theme: 'fontawesome-stars-o',
    	  readonly: true,
    	  initialRating: [[${srednjaOcjena}]]
      });
   });
   /*]]>*/
</script>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/index">GetBooked</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a th:href="@{/index}">Home</a></li>
					<li><a th:href="@{/profile}">Profile</a></li>
					<li sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown"><a
						class="dropdown-toggle" data-toggle="dropdown" href="#">Administracija<span
							class="caret"></span></a>
						<ul class="dropdown-menu">
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/vijestForm}">Dodaj Vijest</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/addAutor}">Dodaj Autora</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/addKnjiga}">Dodaj Knjigu</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/openLibraryForm}">Dodaj OpenLibrary Knjigu</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/addPrimjerak}">Dodaj Primjerak</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/listaAktivnosti}">Lista Aktivnosti</a></li>
						</ul></li>
					<li><a th:href="@{/listaKnjiga}">Lista Knjiga</a></li>
					<li><a th:href="@{/listaAutora}">Lista Autora</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li><a th:href="@{/profile}" th:inline="text"><span
							class="glyphicon glyphicon-user"></span>
							[[${#httpServletRequest.remoteUser}]]</a></li>
					<li><a th:href="@{/logout}"><span
							class="glyphicon glyphicon-log-out"></span> Odjava</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	<div class="resume">
		<header class="page-header">
			<h1 th:inline="text"
				th:text="${'Knjiga: ' + knjiga.naziv + ', ' + knjiga.godinaIzdavanja + '.'}"
				class="page-title"></h1>
		</header>

		<div
			class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
			<div class="panel panel-default">
				<div class="panel-heading resume-heading">
					<div class="row">
						<div class="col-lg-12">
							<form class="form-inline" id="forma" role="form"
								th:action="@{/knjigaDetalji}" th:object="${knjiga}"
								method="post">
								<div class="col-xs-12 col-sm-4">
									<figure>
										<img class="image img-responsive" alt="" src="img/book.png" />
									</figure>
								</div>

								<div class="col-xs-12 col-sm-8">
									<ul class="list-group">
										<li class="list-group-item"><label for="naziv">Naziv:</label>
											<input type="hidden" th:value="${knjigaId}"
											class="form-control" name="knjigaId" id="knjigaId" /> <input
											type="text" class="form-control" name="naziv" id="naziv"
											th:value="${naziv}" disabled="true" /></li>
										<li class="list-group-item"><label for="iSBN">ISBN:</label><input
											type="text" class="form-control" name="iSBN" id="iSBN"
											th:value="${iSBN}" disabled="true" /></li>
										<li class="list-group-item"><label for="izdavac">Izdavač:</label><input
											type="text" class="form-control" name="izdavac" id="izdavac"
											th:value="${izdavac}" disabled="true" /></li>

										<li class="list-group-item"><label for="jezik">Jezik:</label><input
											type="text" class="form-control" name="jezik" id="jezik"
											th:value="${jezik}" disabled="true" /></li>
										<li class="list-group-item"><label for="openLibraryKey">Open
												Library Key:</label><input type="text" class="form-control"
											name="openLibraryKey" id="openLibraryKey"
											th:value="${openLibraryKey}" disabled="true" /></li>
										<li class="list-group-item"><label for="materijalniOpis">Materijalni
												opis:</label><input type="text" class="form-control"
											name="materijalniOpis" id="materijalniOpis"
											th:value="${materijalniOpis}" disabled="true" /></li>
										<li class="list-group-item"><label for="godinaIzdavanja">Godina
												izdavanja:</label><input type="text" class="form-control"
											name="godinaIzdavanja" id="godinaIzdavanja"
											th:value="${godinaIzdavanja}" disabled="true" /></li>
										<li class="list-group-item"><label for="autori">Autori:</label><a
											type="text" class="form-control autori"
											th:each="autor : ${autori}" th:value="${autor.id}"
											th:text="${autor.imePrezime}"
											th:href="@{autorDetalji(id=${autor.id})}"></a></li>
										<li class="list-group-item"><label for="zanrovi">Žanrovi:
												&nbsp;</label><span name="zanrovi" th:inline="text"
											th:text="${zanrovi}" disabled="true"></span></li>
										<li class="list-group-item"><label for="opis">Opis:</label>
										<textarea class="form-control" rows="5" cols="100" name="opis"
												id="opis" th:field="*{opis}" form="forma" disabled="true"></textarea></li>
										<!-- <li class="list-group-item"><label for="prosjecnaOcjena">Prosječna korisnička ocjena:</label><input 
											type="text" class="form-control" name="prosjecnaOcjena" id="prosjecnaOcjena"
												th:value="${prosjecnaOcjena}" disabled="true" /></li> -->
										<li class="list-group-item"><label for="rating">Prosječna
												korisnička ocjena:</label> <select id="example-fontawesome-o"
											name="rating" autocomplete="off">
												<option th:each="ocjena : ${ocjeneForm}"
													th:value="${ocjena}" th:text="${ocjena}"></option>
										</select> <input type="text" class="form-control"
											name="prosjecnaOcjena" id="prosjecnaOcjena"
											th:value="${prosjecnaOcjena}" disabled="true" /></li>
										<li class="list-group-item"><label for="primjerci">Broj
												dostupnih primjeraka:</label><input type="text" class="form-control"
											name="primjerci" id="primjerci" th:value="${primjerci}"
											disabled="true" />
											<div th:switch="${rezervacijaDostupna}">
												<input th:case="'true'" class="btn btn-default"
													type="submit" name="akcija" value="Rezerviraj" /> <input
													th:case="'false'" class="btn btn-default" type="submit"
													name="akcija" value="Rezerviraj" disabled="true" /> <input
													sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-info"
													type="submit" name="akcija" value="Dodaj primjerak" />
											</div></li>
									</ul>
									<div class="form-group">
										<label for="novaPovijestCitanja">Dodaj na listu:</label> <select
											id="povijestCitanja-select" class="form-control"
											name="novaPovijestCitanja">
											<option th:each="povijestCitanja : ${povijestiCitanja}"
												th:value="${povijestCitanja}" th:text="${povijestCitanja}"></option>
										</select> <input class="btn btn-default" type="submit" name="akcija"
											value="Dodaj" />
										<div class="form-group pull-right"
											sec:authorize="hasRole('ROLE_ADMIN')">
											<input class="btn btn-info" type="submit" name="akcija"
												value="Promijeni" />
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="alert alert-success" role="alert" th:text="${success}"
				th:unless="${success == null}"></div>
		</div>
	</div>

	<div class="col-md-offset-2 col-md-8">
		<div class="row">
			<div class="col-md-offset-2 col-md-8">
				<h1>Komentar:</h1>
				<br />
				<form class="form-horizontal" id="formaComment" role="form"
					th:action="@{/addKomentar}" th:object="${komentar}" method="post">
					<div class="form-group">
						<div class="form-group">
							<div class="col-sm-12">
								<input type="hidden" th:value="${knjigaId}" class="form-control"
									name="knjigaId" id="knjigaId" /> <input type="text"
									class="form-control" name="naslov" id="naslov"
									th:field="*{naslov}" placeholder="Unesite Naslov" />
								<p th:if="${#fields.hasErrors('naslov')}" th:errors="*{naslov}"
									class="error"></p>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<textarea class="form-control" rows="5" name="tekst" id="tekst"
									th:field="*{tekst}" placeholder="Unesite komentar"
									form="formaComment"></textarea>
								<p th:if="${#fields.hasErrors('tekst')}" th:errors="*{tekst}"
									class="error"></p>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<select id="star-select" class="form-control" name="novaOcjena"
									autocomplete="off">
									<option th:each="ocjena : ${ocjeneForm}" th:value="${ocjena}"
										th:text="${ocjena}"></option>
								</select> <input class="btn btn-default" id="poravnanje-lijevo"
									type="submit" name="akcija" value="Ocijeni" /> <input
									class="btn btn-default pull-right" type="submit" name="akcija"
									value="Add" />
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>

		<div class="row">
			<th:block th:each="komentar : ${komentari}">
				<div class="col-md-offset-2 col-md-8">
					<hr />
					<div class="comment-block">
						<div class="row">
							<div class="col-sm-3">
								<img src="img/avatar.png"
									class="userImage img-circle img-responsive" />
								<div class="comment-block-name">
									<a th:href="@{profileDetalji(id=${komentar.korisnik.id})}"
										th:text="${komentar.korisnik.ime + ' ' + komentar.korisnik.prezime}"></a>
								</div>
								<div class="comment-block-date">
									<p th:text="${komentar.datumObjave}"></p>
								</div>
							</div>
							<div class="col-sm-9">
								<div class="comment-block-title">
									<p th:text="${komentar.naslov}"></p>
								</div>
								<div class="comment-block-description">
									<p th:text="${komentar.tekst}"></p>
								</div>
							</div>
						</div>
						<hr />
					</div>
				</div>
			</th:block>
		</div>

	</div>

	<script th:inline="javascript">
	/*<![CDATA[*/
	
	    $("#star-select").val([[${ocjenaKor}]]);
	
	/*]]>*/
	</script>

	<script th:inline="javascript">
	/*<![CDATA[*/
		if([[${povijestCitanjaKor}]] == null)
	    	$("#povijestCitanja-select").val("PLANIRAM");
		else 
			$("#povijestCitanja-select").val([[${povijestCitanjaKor}]]);
	/*]]>*/
	</script>

	<script
		src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="/js/jquery.barrating.js"></script>
	<script src="/js/examples.js"></script>
	<script type="text/javascript" src="/js/listaKnjiga_funkcija.js"></script>
</body>
</html>