<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>GetBooked Book List</title>
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet" media="screen" />
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/js/bootstrap.min.js"
	rel="stylesheet" media="screen" />
<script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"></script>

<!-- Datatable -->
<link rel="stylesheet" type="text/css" href="/css/datatables.min.css"
	th:href="@{/css/datatables.min.css}" />
<script src="js/datatables.min.js"></script>

<!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
<link rel="stylesheet"
	href="https://formden.com/static/cdn/bootstrap-iso.css" />

<!-- For navigation dropdown -->
<script
	src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />

<link rel="stylesheet" type="text/css" href="/css/default.css"
	th:href="@{/css/default.css}" />
</head>
<body>
	<script>
$(document).ready(function() {
    $('#myTable').DataTable();
} );
</script>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/index">GetBooked</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a th:href="@{/index}">Home</a></li>
					<li><a th:href="@{/profile}">Profile</a></li>
					<li sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown"><a
						class="dropdown-toggle" data-toggle="dropdown" href="#">Administracija<span
							class="caret"></span></a>
						<ul class="dropdown-menu">
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/vijestForm}">Dodaj Vijest</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/addAutor}">Dodaj Autora</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/addKnjiga}">Dodaj Knjigu</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/openLibraryForm}">Dodaj OpenLibrary Knjigu</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/addPrimjerak}">Dodaj Primjerak</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/listaAktivnosti}">Lista Aktivnosti</a></li>
						</ul></li>
					<li class="active"><a th:href="@{/listaKnjiga}">Lista
							Knjiga</a></li>
					<li><a th:href="@{/listaAutora}">Lista Autora</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li><a th:href="@{/profile}" th:inline="text"><span
							class="glyphicon glyphicon-user"></span>
							[[${#httpServletRequest.remoteUser}]]</a></li>
					<li><a th:href="@{/logout}"><span
							class="glyphicon glyphicon-log-out"></span> Odjava</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>Lista Knjiga</h1>
				<br />
				<table id="myTable" class="table table-striped table-bordered"
					cellspacing="0" width="100%">
					<thead>
						<tr>
							<th>Naziv</th>
							<th>Autor</th>
							<th>Godina Izdavanja</th>
							<th>Žanrovi</th>
							<th>ISBN</th>
							<th>Ocjena</th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="knjiga : ${knjige}"
							th:onclick="'javascript:rowClickedKnjiga(\'' + ${knjiga.id} + '\')'"
							style="cursor: pointer">
							<td th:text="${knjiga.naziv}"></td>
							<td><p th:each="autor : ${knjiga.autori}"
									th:value="${autor.id}" th:text="${autor.imePrezime}"></p></td>
							<td th:text="${knjiga.godinaIzdavanja}"></td>
							<td><p th:each="zanr : ${knjiga.zanrovi}"
									th:value="${zanr.id}" th:text="${zanr.zanr}"></p></td>
							<td th:text="${knjiga.iSBN}"></td>
							<td th:text="${knjiga.prosjecnaOcjena}"></td>
						</tr>
					</tbody>
				</table>
				<div class="row">
					<div class="col-md-12">
						<div class="alert alert-success" role="alert" th:text="${success}"
							th:unless="${success == null}"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="/js/listaKnjiga_funkcija.js"></script>
</body>
</html>