<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>GetBooked Login Page</title>
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet" media="screen" />
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/js/bootstrap.min.js"
	rel="stylesheet" media="screen" />
<script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/default.css"
	th:href="@{/css/default.css}" />
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/index">GetBooked</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a th:href="@{/register}"><span
							class="glyphicon glyphicon-user"></span> Registracija</a></li>
					<li class="active"><a th:href="@{/login}"><span
							class="glyphicon glyphicon-log-in"></span> Prijava</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	<div class="container">
		<br />
		<div class="row">
			<div class="col-md-offset-3 col-md-6">
				<h1>Login</h1>
				<br />
				<form class="form-horizontal" role="form" th:action="@{/login}"
					method="post">
					<div class="form-group">
						<label class="control-label col-sm-5" id="poravnanje-lijevo"
							for="user">Korisničko ime:</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" name="username" id="user"
								placeholder="Unesite korisničko ime" autofocus="true" />
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-5" id="poravnanje-lijevo"
							for="pwd">Lozinka:</label>
						<div class="col-sm-7">
							<input type="password" class="form-control" name="password"
								id="pwd" placeholder="Unesite lozinku" />
							<div th:if="${param.error != null}" class="error">Neispravno
								korisničko ime ili lozinka.</div>
						</div>
					</div>

					<div class="form-group">
						<!-- <a class="col-sm-5 link-registracija" th:href="@{/register}">Registracija</a> -->
						<div class="col-sm-12">
							<button type="submit" class="btn btn-primary pull-right">Login</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="alert alert-success" role="alert"
					th:text="${registrationSuccess}"
					th:unless="${registrationSuccess == null}"></div>
			</div>
		</div>
	</div>
</body>
</html>