<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" th:href="@{/index}">GetBooked</a>
		</div>
		<ul class="nav navbar-nav">
			<li><a th:href="@{/index}">Home</a></li>
			<li><a th:href="@{/profile}">Profile</a></li>
			<li sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown"><a
				class="dropdown-toggle" data-toggle="dropdown" href="#">Administration<span
					class="caret"></span></a>
				<ul class="dropdown-menu">
					<li sec:authorize="hasRole('ROLE_ADMIN')"><a
						th:href="@{/addAutor}">Dodaj novog Autora</a></li>
					<li sec:authorize="hasRole('ROLE_ADMIN')"><a
						th:href="@{/addKnjiga}">Dodaj novu Knjigu</a></li>
				</ul></li>
			<li><a th:href="@{/listaKnjiga}">Lista Knjiga</a></li>
			<li><a th:href="@{/listaAutora}">Lista Autora</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a th:href="@{/profile}" th:inline="text"><span
					class="glyphicon glyphicon-user"></span>
					[[${#httpServletRequest.remoteUser}]]</a></li>
			<li><a th:href="@{/logout}"><span
					class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
		</ul>
	</div>
</nav>

<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
				aria-expanded="false">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Brand</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse"
			id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
				<li><a href="#">Link</a></li>
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown" role="button" aria-haspopup="true"
					aria-expanded="false">Dropdown <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#">Separated link</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#">One more separated link</a></li>
					</ul></li>
			</ul>
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Search">
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
			</form>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Link</a></li>
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown" role="button" aria-haspopup="true"
					aria-expanded="false">Dropdown <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#">Separated link</a></li>
					</ul></li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>