<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>GetBooked Profile Details</title>
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet" media="screen" />
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/js/bootstrap.min.js"
	rel="stylesheet" media="screen" />
<script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"></script>

<!-- For rating stars -->
<!-- Icons -->
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
<style>
@font-face {
	font-family: 'Glyphicons Halflings';
	src:
		url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/fonts/glyphicons-halflings-regular.eot');
	src:
		url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/fonts/glyphicons-halflings-regular.eot?#iefix')
		format('embedded-opentype'),
		url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/fonts/glyphicons-halflings-regular.woff')
		format('woff'),
		url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/fonts/glyphicons-halflings-regular.ttf')
		format('truetype'),
		url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular')
		format('svg');
}
</style>
<link rel="stylesheet" href="/css/fontawesome-stars.css" />
<link rel="stylesheet" href="/css/fontawesome-stars-o.css" />

<!-- Datatable -->
<link rel="stylesheet" type="text/css" href="/css/datatables.min.css"
	th:href="@{/css/datatables.min.css}" />
<script src="js/datatables.min.js"></script>

<!-- For navigation dropdown -->
<script
	src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />

<link rel="stylesheet" type="text/css" href="/css/default.css"
	th:href="@{/css/default.css}" />
<link rel="stylesheet" type="text/css" href="/css/profile.css"
	th:href="@{/css/profile.css}" />
<link rel="stylesheet" type="text/css" href="/css/comments.css"
	th:href="@{/css/comments.css}" />
</head>
<body>
	<script src="jquery.barrating.min.js"></script>
	<script type="text/javascript">
		$(function() {
			$('.star-select').barrating({
				theme : 'fontawesome-stars',
				readonly : true
			});
		});
	</script>
	<script>
		$(document).ready(function() {
			$('#wishTable').DataTable();
		});
		$(document).ready(function() {
			$('#readingTable').DataTable();
		});
		$(document).ready(function() {
			$('#doneTable').DataTable();
		});
	</script>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/index">GetBooked</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a th:href="@{/index}">Home</a></li>
					<li><a th:href="@{/profile}">Profile</a></li>
					<li sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown"><a
						class="dropdown-toggle" data-toggle="dropdown" href="#">Administracija<span
							class="caret"></span></a>
						<ul class="dropdown-menu">
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/vijestForm}">Dodaj Vijest</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/addAutor}">Dodaj Autora</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/addKnjiga}">Dodaj Knjigu</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/openLibraryForm}">Dodaj OpenLibrary Knjigu</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/addPrimjerak}">Dodaj Primjerak</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/listaAktivnosti}">Lista Aktivnosti</a></li>
						</ul></li>
					<li><a th:href="@{/listaKnjiga}">Lista Knjiga</a></li>
					<li><a th:href="@{/listaAutora}">Lista Autora</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li><a th:href="@{/profile}" th:inline="text"><span
							class="glyphicon glyphicon-user"></span>
							[[${#httpServletRequest.remoteUser}]]</a></li>
					<li><a th:href="@{/logout}"><span
							class="glyphicon glyphicon-log-out"></span> Odjava</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<div class="resume">
		<header class="page-header">
			<h1 th:inline="text"
				th:text="${'Korisnik: ' + korisnik.ime + ' ' + korisnik.prezime}"
				class="page-title"></h1>
			<small> <i class="fa fa-clock-o"></i> Zadnja aktivnost: <time
					th:inline="text" th:text="${korisnik.zadnjaAktivnost}"></time></small>
		</header>

		<div
			class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
			<div class="panel panel-default">
				<div class="panel-heading resume-heading">
					<div class="row">
						<div class="col-lg-12">
							<form class="form-inline" id="forma" role="form"
								th:action="@{/profileDetails}" th:object="${korisnik}"
								method="post">
								<div class="col-xs-12 col-sm-4">
									<figure>
										<img class="image img-circle img-responsive" alt=""
											src="img/avatar.png" />
									</figure>
								</div>

								<div class="col-xs-12 col-sm-8">
									<ul class="list-group">
										<li class="list-group-item"><label for="ime">Ime:</label><input
											type="text" class="form-control" name="ime" id="ime"
											th:field="*{ime}" disabled="true" /></li>
										<li class="list-group-item"><label for="prezime">Prezime:</label><input
											type="text" class="form-control" name="prezime" id="prezime"
											th:field="*{prezime}" disabled="true" /></li>
										<li class="list-group-item"><label for="korisnickoIme">Korisničko
												ime:</label><input type="text" class="form-control"
											name="korisnickoIme" id="korisnickoIme"
											th:field="*{korisnickoIme}" disabled="true" /></li>
										<li class="list-group-item"><i class="fa fa-envelope"></i>
											<label for="ime">Email:</label><input type="text"
											class="form-control" name="email" id="email"
											th:field="*{email}" disabled="true" /></li>
										<li class="list-group-item"><label for="opis">Opis/Interesi:</label>
											<p name="opis" th:inline="text" th:text="${korisnik.opis}"></p></li>
										<li class="list-group-item"><label for="zanrovi">Žanrovi:
												&nbsp;</label><span name="zanrovi" th:inline="text"
											th:text="${zanrovi}" disabled="true"></span></li>
									</ul>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="form-group">

			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#planovi"
					aria-controls="planovi" role="tab" data-toggle="tab">Planovi</a></li>
				<li role="presentation"><a href="#citam" aria-controls="citam"
					role="tab" data-toggle="tab">Čitam</a></li>
				<li role="presentation"><a href="#procitano"
					aria-controls="procitano" role="tab" data-toggle="tab">Pročitano</a></li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane fade in active" id="planovi">
					<div class="row" id="wish">
						<div class="form-group">&nbsp;</div>
						<div class="col-sm-12">
							<table id="wishTable" class="table table-striped table-bordered"
								cellspacing="0" width="100%">
								<thead>
									<tr>
										<th>Naziv</th>
										<th>Autor</th>
										<th>Godina Izdavanja</th>
										<th>ISBN</th>
									</tr>
								</thead>

								<tbody>
									<tr th:each="knjiga : ${wishKnjige}"
										th:onclick="'javascript:rowClickedKnjiga(\'' + ${knjiga.id} + '\')'"
										style="cursor: pointer">
										<td th:text="${knjiga.naziv}"></td>
										<td><p th:each="autor : ${knjiga.autori}"
												th:value="${autor.id}" th:text="${autor.imePrezime}"></p></td>
										<td th:text="${knjiga.godinaIzdavanja}"></td>
										<td th:text="${knjiga.iSBN}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="citam">
					<div class="row" id="reading">
						<div class="form-group">&nbsp;</div>
						<div class="col-sm-12">
							<table id="readingTable"
								class="table table-striped table-bordered" cellspacing="0"
								width="100%">
								<thead>
									<tr>
										<th>Naziv</th>
										<th>Autor</th>
										<th>Godina Izdavanja</th>
										<th>ISBN</th>
									</tr>
								</thead>

								<tbody>
									<tr th:each="knjiga : ${readingKnjige}"
										th:onclick="'javascript:rowClickedKnjiga(\'' + ${knjiga.id} + '\')'"
										style="cursor: pointer">
										<td th:text="${knjiga.naziv}"></td>
										<td><p th:each="autor : ${knjiga.autori}"
												th:value="${autor.id}" th:text="${autor.imePrezime}"></p></td>
										<td th:text="${knjiga.godinaIzdavanja}"></td>
										<td th:text="${knjiga.iSBN}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="procitano">
					<div class="row" id="done">
						<div class="form-group">&nbsp;</div>
						<div class="col-sm-12">
							<table id="doneTable" class="table table-striped table-bordered"
								cellspacing="0" width="100%">
								<thead>
									<tr>
										<th>Naziv</th>
										<th>Autor</th>
										<th>Godina Izdavanja</th>
										<th>ISBN</th>
									</tr>
								</thead>

								<tbody>
									<tr th:each="knjiga : ${doneKnjige}"
										th:onclick="'javascript:rowClickedKnjiga(\'' + ${knjiga.id} + '\')'"
										style="cursor: pointer">
										<td th:text="${knjiga.naziv}"></td>
										<td><p th:each="autor : ${knjiga.autori}"
												th:value="${autor.id}" th:text="${autor.imePrezime}"></p></td>
										<td th:text="${knjiga.godinaIzdavanja}"></td>
										<td th:text="${knjiga.iSBN}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="container">
		<div class="form-group">
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#komentariKnjige"
					aria-controls="komentariKnjige" role="tab" data-toggle="tab">Komentari na knjige</a></li>
				<li role="presentation"><a href="#komentariVijesti"
					aria-controls="komentariVijesti" role="tab" data-toggle="tab">Komentari na vijesti</a></li>
				<li role="presentation"><a href="#ocjene"
					aria-controls="ocjene" role="tab" data-toggle="tab">Ocjene</a></li>
			</ul>

			<div class="tab-content">
				<div role="tabpanel" class="tab-pane fade in active" id="komentariKnjige">
					<div class="row" id="comm">
						<th:block th:each="komentar : ${komentariKorKnjige}">
							<div class="col-md-offset-2 col-md-8">
								<hr />
								<div class="comment-block">
									<div class="row">
										<div class="col-sm-3">
											<img src="img/avatar.png"
												class="userImage img-circle img-responsive" />
											<div class="comment-block-name">
												<a th:href="@{profileDetalji(id=${komentar.korisnik.id})}"
													th:text="${komentar.korisnik.ime + ' ' + komentar.korisnik.prezime}"></a>
											</div>
											<div class="comment-block-date">
												<p th:text="${komentar.datumObjave}"></p>
											</div>
											<div class="comment-block-name">
												<a th:href="@{knjigaDetalji(id=${komentar.knjiga.id})}"
													th:text="${komentar.knjiga.naziv + ', ' + komentar.knjiga.godinaIzdavanja + '.'}"></a>
											</div>
										</div>
										<div class="col-sm-9">
											<div class="comment-block-title">
												<p th:text="${komentar.naslov}"></p>
											</div>
											<div class="comment-block-description">
												<p th:text="${komentar.tekst}"></p>
											</div>
										</div>
									</div>
									<hr />
								</div>
							</div>
						</th:block>
					</div>
				</div>
				
				<div role="tabpanel" class="tab-pane fade in" id="komentariVijesti">
					<div class="row" id="comm">
						<th:block th:each="komentar : ${komentariKorVijesti}">
							<div class="col-md-offset-2 col-md-8">
								<hr />
								<div class="comment-block">
									<div class="row">
										<div class="col-sm-3">
											<img src="img/avatar.png"
												class="userImage img-circle img-responsive" />
											<div class="comment-block-name">
												<a th:href="@{profileDetalji(id=${komentar.korisnik.id})}"
													th:text="${komentar.korisnik.ime + ' ' + komentar.korisnik.prezime}"></a>
											</div>
											<div class="comment-block-date">
												<p th:text="${komentar.datumObjave}"></p>
											</div>
											<div class="comment-block-name">
												<a th:href="@{vijestDetalji(id=${komentar.vijest.id})}"
													th:text="${komentar.vijest.naslov}"></a>
											</div>
										</div>
										<div class="col-sm-9">
											<div class="comment-block-title">
												<p th:text="${komentar.naslov}"></p>
											</div>
											<div class="comment-block-description">
												<p th:text="${komentar.tekst}"></p>
											</div>
										</div>
									</div>
									<hr />
								</div>
							</div>
						</th:block>
					</div>
				</div>

				<div role="tabpanel" class="tab-pane fade" id="ocjene">
					<div class="row" id="ratings">
						<th:block th:each="ocjena : ${ocjeneKor}">
							<div class="col-md-offset-2 col-md-8">
								<hr />
								<div class="comment-block">
									<div class="row">
										<div class="col-sm-6">
											<img src="img/avatar.png"
												class="userImage img-circle img-responsive" />
											<div class="comment-block-name">
												<a th:href="@{profileDetalji(id=${ocjena.korisnik.id})}"
													th:text="${ocjena.korisnik.ime + ' ' + ocjena.korisnik.prezime}"></a>
											</div>
											<div class="comment-block-date">
												<p th:text="${ocjena.datumOcjene}"></p>
											</div>
											<div class="comment-block-title">
												<p th:text="${ocjena.ocjena + '/' + '5'}"></p>
											</div>
											<div class="comment-block-description">
												<select id="star-select" class="form-control star-select"
													name="rate" autocomplete="off">
													<option th:each="rate : ${ocjeneForm}" th:value="${rate}"
														th:text="${rate}" th:selected="${ rate==ocjena.ocjena } "></option>
												</select>
											</div>
										</div>
										<div class="col-sm-6">
											<a th:href="@{knjigaDetalji(id=${ocjena.knjiga.id})}"><img
												src="img/book.png" class="userImage img-responsive" /></a>
											<div class="comment-block-title">
												<a th:href="@{knjigaDetalji(id=${ocjena.knjiga.id})}"
													th:text="${ocjena.knjiga.naziv}"></a>
											</div>
											<div class="comment-block-description">
												<p
													th:text="${'Godina izdavanja: ' + ocjena.knjiga.godinaIzdavanja + '.'}"></p>
											</div>
											<div class="comment-block-description">
												Autori: <span th:each="autor : ${ocjena.knjiga.autori}"
													th:value="${autor.id}"
													th:text="${autor.imePrezime + '   '}"></span>
											</div>
											<div class="comment-block-description">&nbsp;</div>
											<div class="comment-block-description">
												Žanr: <span th:each="zanr : ${ocjena.knjiga.zanrovi}"
													th:value="${zanr.id}" th:text="${zanr.zanr}"></span>
											</div>
										</div>
									</div>
									<hr />
								</div>
							</div>
						</th:block>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/js/jquery.barrating.js"></script>
	<script src="/js/examples.js"></script>
	<script type="text/javascript" src="/js/listaKnjiga_funkcija.js"></script>
</body>
</html>