<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>GetBooked Profile</title>
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet" media="screen" />
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/js/bootstrap.min.js"
	rel="stylesheet" media="screen" />
<script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"></script>

<!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
<link rel="stylesheet"
	href="https://formden.com/static/cdn/bootstrap-iso.css" />

<!-- For navigation dropdown -->
<script
	src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />

<link rel="stylesheet" type="text/css" href="/css/default.css"
	th:href="@{/css/default.css}" />
<link rel="stylesheet" type="text/css" href="/css/profile.css"
	th:href="@{/css/profile.css}" />
<link rel="stylesheet" href="/css/multiple-select.css" />
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/index">GetBooked</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a th:href="@{/index}">Home</a></li>
					<li><a th:href="@{/profile}">Profile</a></li>
					<li sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown"><a
						class="dropdown-toggle" data-toggle="dropdown" href="#">Administracija<span
							class="caret"></span></a>
						<ul class="dropdown-menu">
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/vijestForm}">Dodaj Vijest</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/addAutor}">Dodaj Autora</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/addKnjiga}">Dodaj Knjigu</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/openLibraryForm}">Dodaj OpenLibrary Knjigu</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/addPrimjerak}">Dodaj Primjerak</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/listaAktivnosti}">Lista Aktivnosti</a></li>
						</ul></li>
					<li><a th:href="@{/listaKnjiga}">Lista Knjiga</a></li>
					<li><a th:href="@{/listaAutora}">Lista Autora</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li><a th:href="@{/profile}" th:inline="text"><span
							class="glyphicon glyphicon-user"></span>
							[[${#httpServletRequest.remoteUser}]]</a></li>
					<li><a th:href="@{/logout}"><span
							class="glyphicon glyphicon-log-out"></span> Odjava</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<div class="resume">
		<header class="page-header">
			<h1 th:inline="text"
				th:text="${'Korisnik: ' + korisnik.ime + ' ' + korisnik.prezime}"
				class="page-title"></h1>
			<small> <i class="fa fa-clock-o"></i> Zadnja aktivnost: <time
					th:inline="text" th:text="${korisnik.zadnjaAktivnost}"></time></small>
		</header>
	</div>
	<div class="container">
		<div class="form-group">&nbsp;</div>
		<div class="row">
			<div class="form-group">&nbsp;</div>
			<div class="col-md-offset-3 col-md-6">
				<form class="form-horizontal" id="forma" role="form"
					th:action="@{/profileEdit}" th:object="${korisnik}" method="post">
					<div class="form-group">
						<label class="control-label col-sm-5" id="poravnanje-lijevo"
							for="korisnickoIme">*Korisničko ime:</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" name="korisnickoIme"
								id="korisnickoIme" th:field="*{korisnickoIme}" disabled="true" />
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-5" id="poravnanje-lijevo"
							for="ime">*Ime:</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" name="ime" id="ime"
								th:field="*{ime}" placeholder="Unesite ime" required="true" />
							<p th:if="${#fields.hasErrors('ime')}" th:errors="*{ime}"
								class="error"></p>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-5" id="poravnanje-lijevo"
							for="prezime">*Prezime:</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" name="prezime"
								id="prezime" th:field="*{prezime}" placeholder="Unesite prezime"
								required="true" />
							<p th:if="${#fields.hasErrors('prezime')}" th:errors="*{prezime}"
								class="error"></p>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-5" id="poravnanje-lijevo"
							for="email">*Email:</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" name="email" id="email"
								th:field="*{email}" placeholder="Unesite email" required="true" />
							<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
								class="error"></p>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-5" id="poravnanje-lijevo"
							for="adresa">Adresa:</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" name="adresa" id="adresa"
								th:value="${adresa}" placeholder="Unesite adresu" />
						</div>
						<p th:if="${#fields.hasErrors('adresa')}" th:errors="*{adresa}"
							class="error"></p>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-5" id="poravnanje-lijevo"
							for="grad">Grad:</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" name="grad" id="grad"
								th:field="*{grad}" placeholder="Unesite grad" />
							<p th:if="${#fields.hasErrors('grad')}" th:errors="*{grad}"
								class="error"></p>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-5" id="poravnanje-lijevo"
							for="postanskiBroj">Postanski broj:</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" name="postanskiBroj"
								id="postanskiBroj" th:field="*{postanskiBroj}"
								placeholder="Unesite postanski broj" />
							<p th:if="${#fields.hasErrors('postanskiBroj')}"
								th:errors="*{postanskiBroj}" class="error"></p>
						</div>
					</div>

					<div class="form-group ">
						<label class="control-label col-sm-5" id="poravnanje-lijevo"
							for="novaDrzava">Drzava:</label>
						<div class="col-sm-7">
							<div class="dropdown" id="novaDrzava">
								<div>
									<select id="drzava-select" class="form-control ui search dropdown"
										name="novaDrzava">
										<option label="" value="240"></option>
										<option th:each="drzava : ${korDrzave}"
											th:selected="${drzava}" th:value="${drzava.id}"
											th:text="${drzava.niceName}"></option>
										<option th:each="drzava : ${drzave}" th:value="${drzava.id}"
											th:text="${drzava.niceName}"></option>
									</select>
								</div>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-5" id="poravnanje-lijevo"
							for="lozinka">Promijeni lozinku:</label>
						<div class="col-sm-7">
							<input type="password" class="form-control" name="lozinka"
								id="lozinka" placeholder="Promijeni lozinku" />
							<p th:if="${#fields.hasErrors('lozinka')}" th:errors="*{lozinka}"
								class="error"></p>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-5" id="poravnanje-lijevo"
							for="ponovljenaLozinka">Potvrdi novu lozinku:</label>
						<div class="col-sm-7">
							<input type="password" class="form-control"
								name="ponovljenaLozinka" id="ponovljenaLozinka"
								placeholder="Potvrdi novu lozinku" />
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-5" id="poravnanje-lijevo"
							for="opis">Opis:</label>
						<div class="col-sm-7">
							<textarea class="form-control" rows="5" name="opis" id="opis"
								th:field="*{opis}" placeholder="Unesite opis" form="forma"></textarea>
							<p th:if="${#fields.hasErrors('opis')}" th:errors="*{opis}"
								class="error"></p>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-5" id="poravnanje-lijevo"
							for="zanrovi">*Žanrovi:</label>
						<div class="col-sm-7">
							<select class="multi-select form-control" name="noviZanrovi"
								multiple="multiple" required="true">
								<option th:each="zanr : ${korisnikZanrovi}"
									th:selected="${zanr}" th:value="${zanr.id}"
									th:text="${zanr.zanr}"></option>
								<option th:each="zanr : ${zanrovi}" th:value="${zanr.id}"
									th:text="${zanr.zanr}"></option>
							</select>
							<p th:if="${#fields.hasErrors('zanrovi')}" th:errors="*{zanrovi}"
								class="error"></p>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-12">
							<button type="submit" class="btn btn-default" name="odustani">Odustani</button>
							<input class="btn btn-primary pull-right" type="submit"
								name="akcija" value="Spremi" />
						</div>
					</div>

					<div class="col-md-offset-1 col-md-10">
						<div class="alert alert-success" role="alert" th:text="${success}"
							th:unless="${success == null}"></div>
						<div class="alert alert-danger" role="alert"
							th:text="${nepodudaranje}" th:unless="${nepodudaranje == null}"></div>
					</div>
				</form>
				<div class="row">
					<div class="col-md-12">
						<div class="alert alert-info" role="alert">Polja označena sa
							" * " su obavezna!</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="js/multiple-select.js"></script>
	<script>
		$(function() {
			$('.multi-select').change(function() {
				console.log($(this).val());
			}).multipleSelect({
				width : '100%'
			});
		});
	</script>
	
	<script th:inline="javascript">
	/*<![CDATA[*/
		if([[${korDrzava}]] == null)
	    	$("#drzava-select").val("240");
		else 
			$("#drzava-select").val([[${korDrzava}]]);
	/*]]>*/
	</script>
	
	<script>
		function goBack() {
			window.history.back();
		}
	</script>
</body>
</html>