<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8" />
<title>GetBooked Registracija</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet" media="screen" />
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/js/bootstrap.min.js"
	rel="stylesheet" media="screen" />
<script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/default.css"
	th:href="@{/css/default.css}" />
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/index">GetBooked</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a th:href="@{/register}"><span
							class="glyphicon glyphicon-user"></span> Registracija</a></li>
					<li><a th:href="@{/login}"><span
							class="glyphicon glyphicon-log-in"></span> Prijava</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	<div class="container">
		<br />
		<div class="row">
			<div class="col-md-offset-3 col-md-6">
				<h1>Registracija</h1>
				<br />
				<form class="form-horizontal" role="form" th:action="@{/register}"
					th:object="${korisnik}" method="post">
					<div class="form-group">
						<label class="control-label col-sm-5" id="poravnanje-lijevo"
							for="korisnickoIme">*Korisničko ime:</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" name="korisnickoIme"
								id="korisnickoIme" th:field="*{korisnickoIme}"
								placeholder="Unesite korisničko ime" required="true"
								autofocus="true" />
							<p th:if="${#fields.hasErrors('korisnickoIme')}"
								th:errors="*{korisnickoIme}" class="error"></p>
							<p th:text="${postoji}" th:unless="${postoji == null}"
								class="error"></p>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-5" id="poravnanje-lijevo"
							for="ime">*Ime:</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" name="ime" id="ime"
								th:field="*{ime}" placeholder="Unesite ime" required="true" />
							<p th:if="${#fields.hasErrors('ime')}" th:errors="*{ime}"
								class="error"></p>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-5" id="poravnanje-lijevo"
							for="prezime">*Prezime:</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" name="prezime"
								id="prezime" th:field="*{prezime}" placeholder="Unesite prezime"
								required="true" />
							<p th:if="${#fields.hasErrors('prezime')}" th:errors="*{prezime}"
								class="error"></p>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-5" id="poravnanje-lijevo"
							th:field="*{lozinka}" for="lozinka">*Lozinka:</label>
						<div class="col-sm-7">
							<input type="password" class="form-control" name="lozinka"
								id="lozinka" placeholder="Unesite lozinku" required="true" />
							<p th:if="${#fields.hasErrors('lozinka')}" th:errors="*{lozinka}"
								class="error"></p>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-5" id="poravnanje-lijevo"
							for="ponovljenaLozinka">*Ponovljena lozinka:</label>
						<div class="col-sm-7">
							<input type="password" class="form-control"
								name="ponovljenaLozinka" id="ponovljenaLozinka"
								placeholder="Ponovite lozinku" required="true" />
							<p th:text="${nepodudaranje}"
								th:unless="${nepodudaranje == null}" class="error"></p>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-5" id="poravnanje-lijevo"
							for="email">*Email:</label>
						<div class="col-sm-7">
							<input type="email" class="form-control" name="email" id="email"
								th:field="*{email}" placeholder="Unesite email" required="true" />
							<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
								class="error"></p>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<button type="submit" class="btn btn-primary pull-right">Registriraj
								me</button>
						</div>
					</div>
				</form>
				<div class="row">
					<div class="col-md-12">
						<div class="alert alert-info" role="alert">Polja označena sa
							" * " su obavezna!</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>