<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>GetBooked Reservation Details</title>
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet" media="screen" />
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/js/bootstrap.min.js"
	rel="stylesheet" media="screen" />
<script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"></script>

<!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
<link rel="stylesheet"
	href="https://formden.com/static/cdn/bootstrap-iso.css" />

<!-- Bootstrap Date-Picker Plugin -->
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
<link rel="stylesheet" type="text/css" href="/css/default.css"
	th:href="@{/css/default.css}" />

<!-- For navigation dropdown -->
<script
	src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/default.css"
	th:href="@{/css/default.css}" />
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/index">GetBooked</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a th:href="@{/index}">Home</a></li>
					<li><a th:href="@{/profile}">Profile</a></li>
					<li sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown"><a
						class="dropdown-toggle" data-toggle="dropdown" href="#">Administracija<span
							class="caret"></span></a>
						<ul class="dropdown-menu">
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/vijestForm}">Dodaj Vijest</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/addAutor}">Dodaj Autora</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/addKnjiga}">Dodaj Knjigu</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/openLibraryForm}">Dodaj OpenLibrary Knjigu</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/addPrimjerak}">Dodaj Primjerak</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/listaAktivnosti}">Lista Aktivnosti</a></li>
						</ul></li>
					<li><a th:href="@{/listaKnjiga}">Lista Knjiga</a></li>
					<li><a th:href="@{/listaAutora}">Lista Autora</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li><a th:href="@{/profile}" th:inline="text"><span
							class="glyphicon glyphicon-user"></span>
							[[${#httpServletRequest.remoteUser}]]</a></li>
					<li><a th:href="@{/logout}"><span
							class="glyphicon glyphicon-log-out"></span> Odjava</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<div class="col-md-offset-2 col-md-8">
		<h1>Pregled rezervacije/posudbe</h1>
		<br />
		<form class="form-horizontal" role="form"
			th:action="@{/korisnikRezervacijaForm}" th:object="${aktivnost}"
			method="post" id="aktivnostForm">

			<div class="form-group">
				<input type="hidden" th:value="${aktivnostId}" class="form-control"
					name="aktivnostId" id="aktivnostId" /> <label
					class="control-label col-sm-5" id="poravnanje-lijevo" for="naziv">Naziv
					knjige:</label>
				<div class="col-sm-7">
					<input type="text" class="form-control" name="naziv" id="naziv"
						th:field="*{primjerak.knjiga.naziv}" required="true"
						readonly="true" />
					<p th:if="${#fields.hasErrors('primjerak.knjiga.naziv')}"
						th:errors="*{primjerak.knjiga.naziv}" class="error"></p>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-5" id="poravnanje-lijevo"
					for="godinaIzdavanja">Godina izdavanja:</label>
				<div class="col-sm-7">
					<input type="text" class="form-control" name="godinaIzdavanja"
						id="godinaIzdavanja"
						th:field="*{primjerak.knjiga.godinaIzdavanja}" required="true"
						readonly="true" />
					<p th:if="${#fields.hasErrors('primjerak.knjiga.godinaIzdavanja')}"
						th:errors="*{primjerak.knjiga.godinaIzdavanja}" class="error"></p>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-5" id="poravnanje-lijevo"
					for="datumOd">Datum od:</label>
				<div class="col-sm-7">
					<input type="text" class="form-control" name="datumOd" id="datumOd"
						th:field="*{datumOd}" required="true" readonly="true" />
					<p th:if="${#fields.hasErrors('datumOd')}" th:errors="*{datumOd}"
						class="error"></p>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-5" id="poravnanje-lijevo"
					for="datumIsteka">Datum isteka:</label>
				<div class="col-sm-7">
					<input type="text" class="form-control" name="datumIsteka"
						id="datumIsteka" th:field="*{datumIsteka}" required="true"
						readonly="true" />
					<p th:if="${#fields.hasErrors('datumIsteka')}"
						th:errors="*{datumIsteka}" class="error"></p>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-5" id="poravnanje-lijevo"
					for="ime">Ime:</label>
				<div class="col-sm-7">
					<input type="text" class="form-control" name="ime" id="ime"
						th:field="*{korisnik.ime}" readonly="true" />
					<p th:if="${#fields.hasErrors('korisnik.ime')}"
						th:errors="*{korisnik.ime}" class="error"></p>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-5" id="poravnanje-lijevo"
					for="prezime">Prezime:</label>
				<div class="col-sm-7">
					<input type="text" class="form-control" name="prezime" id="prezime"
						th:field="*{korisnik.prezime}" readonly="true" />
					<p th:if="${#fields.hasErrors('korisnik.prezime')}"
						th:errors="*{korisnik.prezime}" class="error"></p>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-5" id="poravnanje-lijevo"
					for="korisnickoIme">Korisničko ime:</label>
				<div class="col-sm-7">
					<input type="text" class="form-control" name="korisnickoIme"
						id="korisnickoIme" th:field="*{korisnickoIme}" required="true"
						readonly="true" />
					<p th:if="${#fields.hasErrors('korisnickoIme')}"
						th:errors="*{korisnickoIme}" class="error"></p>
				</div>
			</div>

			<div th:switch="${vrstaAktivnosti}">
				<div class="form-group" th:case="'rezervacija'">
					<div class="col-sm-12">
						<button type="submit" class="btn btn-default" name="odustani">Odustani</button>
						<button type="submit" class="btn btn-primary pull-right"
							name="zatvoriRezervacijuKorisnik">Zatvori rezervaciju</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<script type="text/javascript" src="/js/listaKnjiga_funkcija.js"></script>
</body>
</html>