<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>GetBooked Add Primjerak To Knjiga</title>
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet" media="screen" />
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/js/bootstrap.min.js"
	rel="stylesheet" media="screen" />
<script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"></script>

<!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
<link rel="stylesheet"
	href="https://formden.com/static/cdn/bootstrap-iso.css" />

<!-- Bootstrap Date-Picker Plugin -->
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
<link rel="stylesheet" type="text/css" href="/css/default.css"
	th:href="@{/css/default.css}" />

<!-- For navigation dropdown -->
<script
	src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/index">GetBooked</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a th:href="@{/index}">Home</a></li>
					<li><a th:href="@{/profile}">Profile</a></li>
					<li sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown active"><a
						class="dropdown-toggle" data-toggle="dropdown" href="#">Administracija<span
							class="caret"></span></a>
						<ul class="dropdown-menu">
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/vijestForm}">Dodaj Vijest</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/addAutor}">Dodaj Autora</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/addKnjiga}">Dodaj Knjigu</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/openLibraryForm}">Dodaj OpenLibrary Knjigu</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/addPrimjerak}">Dodaj Primjerak</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/listaAktivnosti}">Lista Aktivnosti</a></li>
						</ul></li>
					<li><a th:href="@{/listaKnjiga}">Lista Knjiga</a></li>
					<li><a th:href="@{/listaAutora}">Lista Autora</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li><a th:href="@{/profile}" th:inline="text"><span
							class="glyphicon glyphicon-user"></span>
							[[${#httpServletRequest.remoteUser}]]</a></li>
					<li><a th:href="@{/logout}"><span
							class="glyphicon glyphicon-log-out"></span> Odjava</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	<div class="col-md-offset-2 col-md-8">
		<h1>Novi Primjerak</h1>
		<br />
		<form class="form-horizontal" role="form"
			th:action="@{/addPrimjerakToKnjiga}" th:object="${primjerak}"
			method="post" id="primjerakForm">

			<div class="form-group">
				<input type="hidden" th:value="${knjigaId}" class="form-control"
					name="knjigaId" id="knjigaId" /> <label
					class="control-label col-sm-5" id="poravnanje-lijevo" for="naziv">*Naziv:</label>
				<div class="col-sm-7">
					<input type="text" class="form-control" name="naziv" id="naziv"
						th:field="*{knjiga.naziv}" placeholder="Unesite naziv"
						required="true" disabled="true" />
				</div>
				<p th:if="${#fields.hasErrors('knjiga.naziv')}"
					th:errors="*{knjiga.naziv}" class="error"></p>
			</div>

			<!-- <div class="form-group">
				<label class="control-label col-sm-5" id="poravnanje-lijevo"
					for="brojPrimjeraka">Broj primjeraka:</label>
				<div class="col-sm-7">
					<input type="number" class="form-control" name="brojPrimjeraka" id="brojPrimjeraka"
						th:value="${brojPrimjeraka}" placeholder="Unesite broj primjeraka" required="true"/>
				</div>
			</div> -->

			<div class="form-group">
				<label class="control-label col-sm-5" id="poravnanje-lijevo"
					for="napomena">Napomena:</label>
				<div class="col-sm-7">
					<textarea class="form-control" rows="5" name="napomena"
						id="napomena" th:field="*{napomena}"
						placeholder="Unesite napomenu" form="primjerakForm"></textarea>
					<p th:if="${#fields.hasErrors('napomena')}" th:errors="*{napomena}"
						class="error"></p>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-12">
					<button type="submit" class="btn btn-default" name="odustani">Odustani</button>
					<button type="submit" class="btn btn-primary pull-right">Dodaj
						Primjerak</button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-success" role="alert" th:text="${success}"
						th:unless="${success == null}"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-warning" role="alert" th:text="${error}"
						th:unless="${error == null}"></div>
				</div>
			</div>
		</form>
	</div>
</body>
</html>