<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>GetBooked Reservation</title>
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet" media="screen" />
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/js/bootstrap.min.js"
	rel="stylesheet" media="screen" />
<script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"></script>

<!-- Bootstrap Date-Picker Plugin -->
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />

<!-- For navigation dropdown -->
<script
	src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/default.css"
	th:href="@{/css/default.css}" />
<link rel="stylesheet" type="text/css" href="/css/profile.css"
	th:href="@{/css/profile.css}" />
<link rel="stylesheet" type="text/css" href="/css/comments.css"
	th:href="@{/css/comments.css}" />
<link rel="stylesheet" type="text/css" href="/css/autor.css"
	th:href="@{/css/autor.css}" />
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/index">GetBooked</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a th:href="@{/index}">Home</a></li>
					<li><a th:href="@{/profile}">Profile</a></li>
					<li sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown"><a
						class="dropdown-toggle" data-toggle="dropdown" href="#">Administracija<span
							class="caret"></span></a>
						<ul class="dropdown-menu">
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/vijestForm}">Dodaj Vijest</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/addAutor}">Dodaj Autora</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/addKnjiga}">Dodaj Knjigu</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/openLibraryForm}">Dodaj OpenLibrary Knjigu</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/addPrimjerak}">Dodaj Primjerak</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/listaAktivnosti}">Lista Aktivnosti</a></li>
						</ul></li>
					<li><a th:href="@{/listaKnjiga}">Lista Knjiga</a></li>
					<li><a th:href="@{/listaAutora}">Lista Autora</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li><a th:href="@{/profile}" th:inline="text"><span
							class="glyphicon glyphicon-user"></span>
							[[${#httpServletRequest.remoteUser}]]</a></li>
					<li><a th:href="@{/logout}"><span
							class="glyphicon glyphicon-log-out"></span> Odjava</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<div class="col-md-offset-4 col-md-4">
		<h1>Rezerviraj primjerak</h1>
		<br />
		<form class="form-horizontal" id="forma" role="form"
			th:action="@{/rezervirajPrimjerak}" th:object="${rezervacija}"
			method="post">
			<!-- <div class="form-group">
					<input type="hidden" th:value="${primjerakId}" class="form-control"
						name="primjerakId" id="primjerakId" /> <label
						class="control-label col-sm-5" id="poravnanje-lijevo" for="naziv">Naziv Knjige:</label>
					<div class="col-sm-7">
						<input type="text" class="form-control"
							name="naziv" id="naziv" size="80"
							th:value="${rezervacija.primjerak.knjiga.naziv + ', ' + rezervacija.primjerak.knjiga.godinaIzdavanja + '.'}" disabled="true"/>
					</div>
				</div>
	
				
				
				<div class="form-group">
				<label class="control-label col-sm-5" id="poravnanje-lijevo" for="datumOd">Datum od:</label>
					<div class="col-sm-7">
						<input type="text" class="form-control"
							name="datumOd" id="datumOd" size="80"
							th:value="${rezervacija.datumOd}" disabled="true"/>
					</div>
				</div>
				
				<div class="form-group">
				<label class="control-label col-sm-5" id="poravnanje-lijevo" for="datumDo">Datum do:</label>
					<div class="col-sm-7">
						<input type="text" class="form-control"
							name="datumDo" id="datumDo" size="80"
							th:value="${rezervacija.datumIsteka}" disabled="true"/>
					</div>
				</div> -->
			<div class="form-group">
				<input type="hidden" th:value="${primjerakId}" class="form-control"
					name="primjerakId" id="primjerakId" /> <label
					class="control-label col-sm-5" id="poravnanje-lijevo" for="naziv">Naziv
					knjige:</label>
				<div class="col-sm-7">
					<input type="text" class="form-control" name="naziv" id="naziv"
						th:field="*{primjerak.knjiga.naziv}"
						placeholder="Unesite naziv knjige" readonly="true" />
					<p th:if="${#fields.hasErrors('primjerak.knjiga.naziv')}"
						th:errors="*{primjerak.knjiga.naziv}" class="error"></p>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-5" id="poravnanje-lijevo"
					for="datumOd">Datum rezervacije:</label>
				<div class="col-sm-7">
					<input type="text" class="form-control" name="datumOd" id="datumOd"
						th:field="*{datumOd}" placeholder="Unesite datumOd"
						readonly="true" />
					<p th:if="${#fields.hasErrors('datumOd')}" th:errors="*{datumOd}"
						class="error"></p>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-5" id="poravnanje-lijevo"
					for="datumOd">Datum isteka:</label>
				<div class="col-sm-7">
					<input type="text" class="form-control" name="datumIsteka"
						id="datumIsteka" th:field="*{datumIsteka}"
						placeholder="Unesite datumIsteka" readonly="true" />
					<p th:if="${#fields.hasErrors('datumIsteka')}"
						th:errors="*{datumIsteka}" class="error"></p>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-12">
					<button type="submit" class="btn btn-default" name="odustani">Odustani</button>
					<button type="submit" class="btn btn-primary pull-right">Rezerviraj</button>
				</div>
			</div>

		</form>
	</div>
</body>
</html>